<p>
  I'm a servers component and I hold all server components!
</p>

<div class="newServerBox">

  <label for="">Server name:</label>
  <input type="text" name="" value="" class="form-control mb-2" (input)="onUpdateServerName($event)">

  <input type="text" name="" value="" class="form-control mb-2" [(ngModel)]="newServerName">
  <p>New Server Name = {{newServerName}}</p>

  <button class="btn btn-primary mb-3" [disabled]="!allowNewServer" type="button" name="button" (click)="onAddNewServer()">Add New Server</button>
  <p *ngIf="serverCreated; else serverNotCreated">{{ serverCreationStatus }}</p>
  <ng-template #serverNotCreated>
    <p>There is no server yet.</p>
  </ng-template>
</div>

<app-server *ngFor="let server of servers"></app-server>
